[user]
  name = Shane Becker
  email = "veganstraightedge@gmail.com"
[github]
  user = veganstraightedge
[push]
  default = current
  default = current
  autoSetupRemote = true
[credential]
  helper = osxkeychain
[log]
  decorate = short
[pull]
  rebase = false
[init]
  defaultBranch = main
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[merge]
	tool = zed

[includeIf "gitdir:~/Developer/trainingtrackersoftware/trainingtracker/"]
  path = ~/.gitconfig-veganstraightedge

# ~/.gitconfig-veganstraightedge
[user]
  name = Shane Becker
  email = "veganstraightedge@gmail.com"
[github]
  user = veganstraightedge
[core]
	quotepath = false
[lfs "customtransfer.xet"]
	path = git-xet
	args = transfer
	concurrent = true
[credential "https://git.heroku.com"]
	helper = !heroku git:credentials
